# Project exclude paths
/out/
/.idea/.gitignore
/.idea/description.html
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/project-template.xml
/Selection Sort _ Term Proj.iml
/.idea/vcs.xml
